<!DOCTYPE html>

<html>
    <head>
        <title>Under construction</title>

        <style type="text/css">
            .text {
                color: #444444;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size  : 30px;
                line-height: 40px;
                text-align: center;
                display: block;
                width: 280px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -140px;
                margin-top: -20px;
            }
        </style>
    </head>

    <body>
        <span class='text'>Under construction</span>
    </body>
</html>
